/*
    colors:

    #fdffff  vit
    #e7af1b  orange
    #217543  grön
    #94cff0  blå
*/

body {
    background-color: #fdffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nameContainer {
    background-color: #217543;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    height: 50%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nameContainer h2 {
    padding: 20px;
    color: #e7af1b;
    font-size: 2rem;
}

#enterName {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #e7af1b;
    color: #217543;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

#submit:hover {
    background-color: #94cff0;
    color: #fdffff;
}

#game {
    display: none;
    padding: 20px;
}

#game h1 {
    text-align: center;
    color: #217543;
}

#game p{
    text-align: center;
    color: #e7af1b;
}

strong {
    color: #217543;
    text-transform: capitalize;
}

#myColor {
    border: 1px solid black;
    width: 50px;
    height: 20px;
    display: inline-block;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#container {
    width: auto;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item {
    border: 1px solid black;
    cursor: pointer;
}

#chat {
    border: 1px solid #217543;
    width: 40%;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#messages {
    border-radius: 4px;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

#form {
    margin-top: 10px;
}

#msgDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#inputMsg {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px 0px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    width: 17%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #e7af1b;
    background-color: #e7af1b;
    color: #217543;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#li {
    width: 100%;
    padding: 20px 0px;
    margin: 10px 0;
}

#msg {
    width: auto;
    padding: 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}