#game {
    display: none;
}

#container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.item {
    border: 1px solid black;
    cursor: pointer;
}

#nameContainer {
    border: 1px solid blue;
    width: 50%;
    margin: auto;
    height: 50%;
    text-align: center;
}

#enterName {
    padding: 8px;
}

#submit {
    margin: auto;
    padding: 8px;
    border: 1px solid red;
    width: 30%;
    cursor: pointer;
}